/* Baner Principal */
.baner-principal {
    background-image: url(../imagens/bg-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100;
}
.baner {
    padding-top: 96px;
    margin-bottom:64px;
    display:flex;
    justify-content:space-between;
    align-items:center; 
}