* {
    margin: 0;
    padding: 0;
}

*:before
*:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: 'Manrope', sans-serif;
    color: #333333;
    font-size: 1rem;
    line-height: 1.625rem;
    box-sizing: content-box;
}

.conteudo {
    width: 80%;
    max-width:71.25rem;
    margin: 0 auto 0 auto;
}

.bloco-de-recursos {
    text-align: center;
    width: 30%;
    margin: 3.125rem 0 0.9375rem 0;
}

.bloco-de-recursos i {
    font-size: 3rem;
    color: deeppink;
}

.titulo-bloco-de-recursos {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 600;
}

.todos-os-blocos-de-recursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titulo-de-sessao {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.titulo {
    margin: 0.05rem 0rem;
    font-weight: 800;
    font-size: 3rem;
    line-height: 4rem;
}

.sub-titulo {
    font-weight:normal;
    font-size:1.125rem;
    line-height: 2rem;
}
/*cabeçalho*/

.cabeçalho {
    background: white;
    border-bottom: 1px solid #E5E9F2;
    padding: 1.625rem 0;
}   

.conteudo-do-header,
.conteudo-conquistas,
.blocos-de-numero,
.bloco-depoimento {
     display:flex;
     justify-content: space-between;
}

.informacoes-do-cabecalho 
.informacoes-do-cabecalho nav {
    display: flex;
    align-items: center;
}

.informacoes-do-cabecalho img, 
.informacoes-do-cabecalho nav a {
    margin-right: 2rem;
}

.informacoes-do-cabecalho nav a {
    font-weight: bold;
    font-size: 0.875;
    line-height:1.25rem;
    text-decoration: none;
    color: #000;
}

.botoes-lojas {
    margin-right: 0.0625rem;
    text-decoration: none;
}

/* Geral */
.titulo-principal {
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 6.125rem;
}

.botao {
    background: aqua;
    color: wheat;
    text-decoration: none;
    width: 12.25rem;
    height: 3.875rem;
    text-align: center;
    padding: 1rem 4.1875rem;
    border-radius: 0.5rem;
}

.botao:hover {
    background: deeppink;
}

/*Depoimentos*/
.todos-os-depoimentos {
background: turquoise;
padding: 7.5rem 0 9.5rem 0;
margin: 4rem 0;
}

.depoimento {
background: white;
padding: 2rem;
border-radius:0.5rem;
box-shadow: 0 10px 20px   rgba(41, 41, 42, 0.07);
margin-top: 2.125rem
}

.depoimento p,
.depoimento h3 {
    background: #18191F, 100%;
    font-size:1.125rem
}

.depoimento p {
    line-height: 2rem;
    margin-bottom: 1.5rem;
    margin-top: -1.875rem;
}

.margin-negative-110 {
margin-top: -6.875rem;
}

.margin-negative-110.depoimento :first-child {
margin-bottom: 7.75rem;
}

.largura-350 {
    width: 21.876rem;
}

.texto-do-depoimento:before {
    content: url(../imagens/aspas.png);
}

.depoimento p,
.depoimento h3,
.depoimento h4 {
    padding-left: 2rem;
}

.depoimento h3 {
    line-height: 1.75rem;
}

.depoimento h4 {
    background:#969BAB, 100%;
    font-size:0.875rem;
    line-height:1.5rem;
    font-weight: normal;
}

/* Nossas conquistas */
.todas-nossas-conquistas {
padding-top: 5.125rem;
padding-bottom: 5.125rem;
}

.coluna,
.blocos-de-conquistas {
    width: 45%;
}

.bloco-de-numeros {
    flex-wrap: wrap;
}

.blocos-de-conquistas,
.conteudo-vamos-la,
.conteudo-gerencia-projetos {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.blocos-de-conquistas i {
    font-size:1.625rem;
    margin-right: 1rem;
}

/* vamos lá*/
.todo-conteudo-vamos-la {
    padding: 4rem 0;
}

.conteudo-vamos-la,
.conteudo-gerencia-projetos {
justify-content: space-between;
}

.link-roxo {
    font-size: 20px;
    font-weight: bold;
    color: #9B51E0;
    text-decoration: none;
    margin-top: 3rem;
    display: flex;
    align-items: center;
}

.link-roxo i{
    margin-left:0.5rem;
    margin-top: 0.1875rem;
}
/*Gerencia de projetos*/
.todo-conteudo-gerencia-projetos {
   background:hotpink;
   color: white;
   padding: 4.25rem 0;
}

.todo-conteudo-gerencia-projetos .botoes-lojas {
    margin-top: 3rem;
}
/*Rodapé*/
.Rodapé {
    background: black;
    padding: 3.5rem 5.25rem;
    color: white;
}

.conteudo-rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-rodape ul {
    list-style: none;
    display: flex;
    margin-bottom: 1.5rem;
}
.menu-rodape ul li {
    margin-right: 1.5rem;
}

.menu-rodape ul li a {
    text-decoration: none;
    color: white;
} 

.botao-dowloads-rodape {
    display: flex;
    flex-direction: column;
}

.botao-dowloads-rodape a {
    margin-top:1rem;
}
